@import url("https://fonts.googleapis.com/css?family=Trirong");
@import url("https://arkteklab.com/fontstyles.css");

/* Define the grid row */
body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trirong", serif;
}

.arktek-cancel-circle:before {
  content: "\ea0d";
  font-size: 30px;
}


/* Define the grid columns */
.arktek {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  
}

/* Define the column widths */
.block-1 {
  flex: 0 0 8.333%;
}

.block-2 {
  flex: 0 0 16.666%;
}

.block-3 {
  flex: 0 0 25%;
}

.block-4 {
  flex: 0 0 33.333%;
}

.block-5 {
  flex: 0 0 41.666%;
}

.block-6 {
  flex: 0 0 50%;
}

.block-7 {
  flex: 0 0 58.333%;
}

.block-8 {
  flex: 0 0 66.666%;
}

.block-9 {
  flex: 0 0 75%;
}

.block-10 {
  flex: 0 0 83.333%;
}

.arkbar {
  background-color: #f2ede9;
  /* set the background color of the navbar */
  flex-basis: 100%;
  flex-grow: 1;
  height:60px !important;
  width: 100%;
  align-items: center; /* middle align */
  justify-content: center; /* center align */
  display: flex;
}

.arkbar-s {
  background-color: #f2ede9;
  /* set the background color of the navbar */
  flex-basis: 100%;
  flex-grow: 1;
  height:60px !important;
  width: 100%;
  align-items: center; /* middle align */
  justify-content: center; /* center align */
  display: flex;
  position: fixed;
}

.arkbar-toggler {
  /* styles for the toggle button */
}


.displaycontainer {
  height: 1200px;
  width: 100%;
  
  
}

.off-canvas {
  display: block;
  transition: left 0.3s ease;
  position: fixed;
  left: -350px;
  /* set the width of the off-canvas div */
  height: 100%;
  width: 350px;
  /* set the width of the off-canvas div */
  background-color: #f2ede9;
  border-radius: 0px 30px 30px 0px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.inblock {
  flex: 1; /* this sets the width of each inblock to take up equal space in the parent block */
  display: inline-flex; /* this sets the block to display inline and use the flex layout */
}

.visible {
  left: 0;
}




.arkbox {
    display: none; /* hide the Arkbox by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* background color with opacity */
    z-index: 1;
    
}

.arkbox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* center the content */
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 50px;
}

.inblock-right {
    position: absolute;
    right: 0;
    
}

.inblock-left {
    position: absolute;
    left: 0;
    top: 0;
}


/* Makes the image fit to the size of its container */
.responsive {
    max-width: 100%;
    height: auto;
}

/* Makes the image stretch and cover the entire container div */
.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Arktek Buttons & Styles*/


.arkbtn{
font-family: "Trirong", serif;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #0066CC;
padding: 10px 30px;
border: solid #0066cc00 2px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;

}

.arkbtn:hover{
transition : 1000ms;
padding: 10px 37px;
transform : translateY(-0px);
background-color: #fff;
color: #0066cc;
border: solid 2px #0066cc;

}


.arkalert{
font-family: "Trirong", serif;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #d62828;
padding: 10px 30px;
border: solid #0066cc00 2px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;

}

.arkalert:hover{
transition : 1000ms;
padding: 10px 37px;
transform : translateY(-0px);
background-color: #fff;
color: #d62828;
border: solid 2px #d62828;

}

.arctcaut{
font-family: "Trirong", serif;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #e9c46a;
padding: 10px 30px;
border: solid #0066cc00 2px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;

}

.arkcaut:hover{
transition : 1000ms;
padding: 10px 37px;
transform : translateY(-0px);
background-color: #fff;
color: #e9c46a;
border: solid 2px #e9c46a;

}


.arkgo{
font-family: "Trirong", serif;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #2a9d8f;
padding: 10px 30px;
border: solid #0066cc00 2px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;

}

.arkgo:hover{
transition : 1000ms;
padding: 10px 37px;
transform : translateY(-0px);
background-color: #fff;
color: #2a9d8f;
border: solid 2px #2a9d8f;

}


.arkout{
font-family: "Trirong", serif;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #636363;
padding: 10px 30px;
border: solid #0066cc00 2px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;

}

.arkout:hover{
transition : 1000ms;
padding: 10px 37px;
transform : translateY(-0px);
background-color: #fff;
color: #808080;
border: solid 2px #6b6b6b;

}
